body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('background.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.timer-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#timer {
    font-size: 48px;
    margin-bottom: 20px;
}

#startBtn {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #07e83c; 

}

#startBtn:hover {
    background-color: #196129; 

}

#stopBtn {
    
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #f5051d; 
}

#stopBtn:hover {
    background-color: #6c1922; 
}

#resetBtn {
    
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ffc107; 
}

#resetBtn:hover {
    background-color: #b18d20; 
}

form button[type="submit"] {

padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;

    background-color: #007BFF; 
}

form button[type="submit"]:hover {
    background-color: #164c85; 
}

#logList {
    margin-top: 20px;
    text-align: left;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
}
